:root {
    --dark-grey: #1a1a1a;
    --grey: #1f1f1f;
    --light-grey: #333333;
    --green: #c4f82a;
    --white: #ffffff;
}

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/static/Inter-Bold.ttf);
    src: url(assets/fonts/static/Inter-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/static/Inter-Regular.ttf);
    src: url(assets/fonts/static/Inter-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/static/Inter-SemiBold.ttf);
    src: url(assets/fonts/static/Inter-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

html, body {
    margin: 0;
}

body {
    background-color: var(--dark-grey);
    font-family: "Inter", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    font-size: 14px;
}
.social-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-width: 22rem;
    border: solid var(---grey) 2px;
    border-radius: 10px;
    background-color: var(--grey);
    color: var(--white);
    margin: 1rem;
    padding: 1rem;
}

.social-container > img {
    width: 8rem;
    border-radius: 100%;
}

h1, h2 {
    font-weight: 600;
}

h1 {
    margin: 0.5rem;
}

h2 {
    color: var(--green);
    font-size: 1em;
    margin: 0.25rem;
}

p {
    font-weight: 400;
}

img {
    margin: 0 1rem 1rem 1rem;
}

ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

ul > a {
    background-color: var(--light-grey);
    color: var(--white);
    padding: 0.75rem;
    margin: 0.5rem;
    border: solid var(--light-grey) 2px;
    border-radius: 5px;
    font-weight: 600;
}

ul > a:hover, ul > a:focus-visible {
    background-color: var(--green);
    color: var(--dark-grey);
}

@media (width >= 375px) {
    .social-container {
        height: fit-content;
        width: 22rem;
    }
}