body,html {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree', serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

section {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 7.5px 7.5px hsl(0, 0%, 7%);
    border-radius: 15px;
    border: solid black 1.5px;
    padding: 20px;
    margin: 20px;
    width: 384px;
    height: fit-content;
}

section > img {
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
}

.badge {
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 7%);
    padding: 10px 15px;
    border-radius: 5px;
    width: fit-content;
    font-weight: 800;
}

article > p {
    line-height: 1.6;
    color: hsl(0, 0%, 42%);
}

footer > img {
    height: 30px;
    width: 30px;
    object-fit: contain;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
footer > p {
    padding: 0 10px;
    font-weight: 800;
}

header > h2:hover, header > h2:focus {
    color:hsl(47, 88%, 63%);
    cursor: pointer;
}

@media (width < 375px){
    section {
        width: 327px;
        height: 501px;
    }
}

