@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&display=swap');

$mobile: 450px;
$tablet: 768px;
$desktop: 1440px;

:root {
    --color-black: #121212;
    --color-dark-blue: #19202D;
    --color-white: #ffffff;
    --color-light-gray: #e7eaee;
    --color-med-gray: #cfcfcf;
    --color-dark-gray: #676d7e;
    --color-darker-gray: #48556a;
    --color-light-purple: #ede4ff;
    --color-med-purple: #a775f1;
    --color-dark-purple: #733fc8;
}